In [1]:
import pandas as pd
airbnb = pd.read_csv("listingsdec21.csv")
list(airbnb.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month',
 'price_total',
 '$price_total']

In [2]:
import pandas as pd

airbnb = pd.read_csv("listingsdec21.csv")

new_bnb2 = airbnb.copy()

list(airbnb.columns)

new_bnb2 = airbnb[["name","host_location", "latitude", "longitude", "bedrooms", "price"]]

In [3]:
new_bnb2

,name,host_location,latitude,longitude,bedrooms,price
0,Belém 1 Bedroom Historical Apartment,"Brussels, Bruxelles, Belgium",38.697500,-9.197680,1.0,$40.00
1,Heart of Alfama Lisbon Center - Cœur de l'Alfama,"New York, New York, United States",38.712410,-9.127060,1.0,$50.00
2,Apartamento Alfama com vista para o rio!,"Vila Nova de Gaia, Porto, Portugal",38.710820,-9.127190,1.0,$60.00
3,Alfama Hill - Boutique apartment,"Olival Basto, Lisboa, Portugal",38.711560,-9.129870,1.0,$60.00
4,TheHOUSE - Your luxury home,"Lisbon, Lisbon, Portugal",38.711080,-9.159790,9.0,$957.00
...,...,...,...,...,...,...
18521,Zen Nest in the heart of Lisbon,"Milan, Lombardy, Italy",38.721587,-9.143302,1.0,$40.00
18522,NEW! Charming 2 bed w/patio in historical Mour...,"Lisbon, Lisbon, Portugal",38.716469,-9.132524,2.0,$75.00
18523,New Avenues Dreamy Home,PT,38.740442,-9.149162,2.0,$150.00
18524,Alfama Top Location 2,"Oeiras, Portugal",38.715410,-9.132390,1.0,$55.00
18525,Stunning Apartment in Heart of Lisbon by Lovel...,PT,38.709519,-9.136877,2.0,$114.00

In [4]:
# remove o símbolo $ da coluna "valores"
new_bnb2['price'] = new_bnb2['price'].replace({'\$': ''}, regex=True)
new_bnb2

C:\Users\Sandra\AppData\Local\Temp\ipykernel_3960\3354167429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_bnb2['price'] = new_bnb2['price'].replace({'\$': ''}, regex=True)

,name,host_location,latitude,longitude,bedrooms,price
0,Belém 1 Bedroom Historical Apartment,"Brussels, Bruxelles, Belgium",38.697500,-9.197680,1.0,40.00
1,Heart of Alfama Lisbon Center - Cœur de l'Alfama,"New York, New York, United States",38.712410,-9.127060,1.0,50.00
2,Apartamento Alfama com vista para o rio!,"Vila Nova de Gaia, Porto, Portugal",38.710820,-9.127190,1.0,60.00
3,Alfama Hill - Boutique apartment,"Olival Basto, Lisboa, Portugal",38.711560,-9.129870,1.0,60.00
4,TheHOUSE - Your luxury home,"Lisbon, Lisbon, Portugal",38.711080,-9.159790,9.0,957.00
...,...,...,...,...,...,...
18521,Zen Nest in the heart of Lisbon,"Milan, Lombardy, Italy",38.721587,-9.143302,1.0,40.00
18522,NEW! Charming 2 bed w/patio in historical Mour...,"Lisbon, Lisbon, Portugal",38.716469,-9.132524,2.0,75.00
18523,New Avenues Dreamy Home,PT,38.740442,-9.149162,2.0,150.00
18524,Alfama Top Location 2,"Oeiras, Portugal",38.715410,-9.132390,1.0,55.00
18525,Stunning Apartment in Heart of Lisbon by Lovel...,PT,38.709519,-9.136877,2.0,114.00

In [5]:
new_bnb2['price'] = new_bnb2['price'].replace('[\,]', '', regex=True).astype(float)
new_bnb2

C:\Users\Sandra\AppData\Local\Temp\ipykernel_3960\4016843489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_bnb2['price'] = new_bnb2['price'].replace('[\,]', '', regex=True).astype(float)

,name,host_location,latitude,longitude,bedrooms,price
0,Belém 1 Bedroom Historical Apartment,"Brussels, Bruxelles, Belgium",38.697500,-9.197680,1.0,40.0
1,Heart of Alfama Lisbon Center - Cœur de l'Alfama,"New York, New York, United States",38.712410,-9.127060,1.0,50.0
2,Apartamento Alfama com vista para o rio!,"Vila Nova de Gaia, Porto, Portugal",38.710820,-9.127190,1.0,60.0
3,Alfama Hill - Boutique apartment,"Olival Basto, Lisboa, Portugal",38.711560,-9.129870,1.0,60.0
4,TheHOUSE - Your luxury home,"Lisbon, Lisbon, Portugal",38.711080,-9.159790,9.0,957.0
...,...,...,...,...,...,...
18521,Zen Nest in the heart of Lisbon,"Milan, Lombardy, Italy",38.721587,-9.143302,1.0,40.0
18522,NEW! Charming 2 bed w/patio in historical Mour...,"Lisbon, Lisbon, Portugal",38.716469,-9.132524,2.0,75.0
18523,New Avenues Dreamy Home,PT,38.740442,-9.149162,2.0,150.0
18524,Alfama Top Location 2,"Oeiras, Portugal",38.715410,-9.132390,1.0,55.0
18525,Stunning Apartment in Heart of Lisbon by Lovel...,PT,38.709519,-9.136877,2.0,114.0

In [6]:
new_bnb2['total_price'] = new_bnb2['price'].apply(lambda x: x * 30)
new_bnb2

C:\Users\Sandra\AppData\Local\Temp\ipykernel_3960\1155240320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_bnb2['total_price'] = new_bnb2['price'].apply(lambda x: x * 30)

,name,host_location,latitude,longitude,bedrooms,price,total_price
0,Belém 1 Bedroom Historical Apartment,"Brussels, Bruxelles, Belgium",38.697500,-9.197680,1.0,40.0,1200.0
1,Heart of Alfama Lisbon Center - Cœur de l'Alfama,"New York, New York, United States",38.712410,-9.127060,1.0,50.0,1500.0
2,Apartamento Alfama com vista para o rio!,"Vila Nova de Gaia, Porto, Portugal",38.710820,-9.127190,1.0,60.0,1800.0
3,Alfama Hill - Boutique apartment,"Olival Basto, Lisboa, Portugal",38.711560,-9.129870,1.0,60.0,1800.0
4,TheHOUSE - Your luxury home,"Lisbon, Lisbon, Portugal",38.711080,-9.159790,9.0,957.0,28710.0
...,...,...,...,...,...,...,...
18521,Zen Nest in the heart of Lisbon,"Milan, Lombardy, Italy",38.721587,-9.143302,1.0,40.0,1200.0
18522,NEW! Charming 2 bed w/patio in historical Mour...,"Lisbon, Lisbon, Portugal",38.716469,-9.132524,2.0,75.0,2250.0
18523,New Avenues Dreamy Home,PT,38.740442,-9.149162,2.0,150.0,4500.0
18524,Alfama Top Location 2,"Oeiras, Portugal",38.715410,-9.132390,1.0,55.0,1650.0
18525,Stunning Apartment in Heart of Lisbon by Lovel...,PT,38.709519,-9.136877,2.0,114.0,3420.0

In [7]:
new_bnb2[['Sub_City', 'City', 'Country']] = new_bnb2['host_location'].str.split(',', n=2, expand=True)
new_bnb2

C:\Users\Sandra\AppData\Local\Temp\ipykernel_3960\2516563313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_bnb2[['Sub_City', 'City', 'Country']] = new_bnb2['host_location'].str.split(',', n=2, expand=True)
C:\Users\Sandra\AppData\Local\Temp\ipykernel_3960\2516563313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_bnb2[['Sub_City', 'City', 'Country']] = new_bnb2['host_location'].str.split(',', n=2, expand=True)
C:\Users\Sandra\AppData\Local\Temp\ipykernel_3960\2516563313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_bnb2[['Sub_City', 'City', 'Country']] = new_bnb2['host_location'].str.split(',', n=2, expand=True)

,name,host_location,latitude,longitude,bedrooms,price,total_price,Sub_City,City,Country
0,Belém 1 Bedroom Historical Apartment,"Brussels, Bruxelles, Belgium",38.697500,-9.197680,1.0,40.0,1200.0,Brussels,Bruxelles,Belgium
1,Heart of Alfama Lisbon Center - Cœur de l'Alfama,"New York, New York, United States",38.712410,-9.127060,1.0,50.0,1500.0,New York,New York,United States
2,Apartamento Alfama com vista para o rio!,"Vila Nova de Gaia, Porto, Portugal",38.710820,-9.127190,1.0,60.0,1800.0,Vila Nova de Gaia,Porto,Portugal
3,Alfama Hill - Boutique apartment,"Olival Basto, Lisboa, Portugal",38.711560,-9.129870,1.0,60.0,1800.0,Olival Basto,Lisboa,Portugal
4,TheHOUSE - Your luxury home,"Lisbon, Lisbon, Portugal",38.711080,-9.159790,9.0,957.0,28710.0,Lisbon,Lisbon,Portugal
...,...,...,...,...,...,...,...,...,...,...
18521,Zen Nest in the heart of Lisbon,"Milan, Lombardy, Italy",38.721587,-9.143302,1.0,40.0,1200.0,Milan,Lombardy,Italy
18522,NEW! Charming 2 bed w/patio in historical Mour...,"Lisbon, Lisbon, Portugal",38.716469,-9.132524,2.0,75.0,2250.0,Lisbon,Lisbon,Portugal
18523,New Avenues Dreamy Home,PT,38.740442,-9.149162,2.0,150.0,4500.0,PT,None,None
18524,Alfama Top Location 2,"Oeiras, Portugal",38.715410,-9.132390,1.0,55.0,1650.0,Oeiras,Portugal,None
18525,Stunning Apartment in Heart of Lisbon by Lovel...,PT,38.709519,-9.136877,2.0,114.0,3420.0,PT,None,None

In [8]:
new_order = ['name', 'Country', 'City', 'Sub_City', 'bedrooms', 'price', 'total_price', 'latitude','longitude']

In [9]:
new_bnb3 = new_bnb2.reindex(columns=new_order)

In [10]:
new_bnb3

,name,Country,City,Sub_City,bedrooms,price,total_price,latitude,longitude
0,Belém 1 Bedroom Historical Apartment,Belgium,Bruxelles,Brussels,1.0,40.0,1200.0,38.697500,-9.197680
1,Heart of Alfama Lisbon Center - Cœur de l'Alfama,United States,New York,New York,1.0,50.0,1500.0,38.712410,-9.127060
2,Apartamento Alfama com vista para o rio!,Portugal,Porto,Vila Nova de Gaia,1.0,60.0,1800.0,38.710820,-9.127190
3,Alfama Hill - Boutique apartment,Portugal,Lisboa,Olival Basto,1.0,60.0,1800.0,38.711560,-9.129870
4,TheHOUSE - Your luxury home,Portugal,Lisbon,Lisbon,9.0,957.0,28710.0,38.711080,-9.159790
...,...,...,...,...,...,...,...,...,...
18521,Zen Nest in the heart of Lisbon,Italy,Lombardy,Milan,1.0,40.0,1200.0,38.721587,-9.143302
18522,NEW! Charming 2 bed w/patio in historical Mour...,Portugal,Lisbon,Lisbon,2.0,75.0,2250.0,38.716469,-9.132524
18523,New Avenues Dreamy Home,None,None,PT,2.0,150.0,4500.0,38.740442,-9.149162
18524,Alfama Top Location 2,None,Portugal,Oeiras,1.0,55.0,1650.0,38.715410,-9.132390
18525,Stunning Apartment in Heart of Lisbon by Lovel...,None,None,PT,2.0,114.0,3420.0,38.709519,-9.136877

In [17]:
dificil = new_bnb3[['Sub_City', 'City', 'Country']].apply(lambda x: x.str.contains('Portugal|PT')).any(axis=1)

In [12]:
new_bnb4 = new_bnb3.loc[dificil]

In [18]:
new_bnb4

,name,Country,City,Sub_City,bedrooms,price,total_price,latitude,longitude
2,Apartamento Alfama com vista para o rio!,Portugal,Porto,Vila Nova de Gaia,1.0,60.0,1800.0,38.710820,-9.127190
3,Alfama Hill - Boutique apartment,Portugal,Lisboa,Olival Basto,1.0,60.0,1800.0,38.711560,-9.129870
4,TheHOUSE - Your luxury home,Portugal,Lisbon,Lisbon,9.0,957.0,28710.0,38.711080,-9.159790
7,"Chiado, Alecrim walk to Riverfront",Portugal,Lisbon,Lisbon,1.0,122.0,3660.0,38.709030,-9.143130
8,Nice Apart.BAIRRO ALTO (ADAMASTOR) 6-1º,Portugal,Lisbon,Lisbon,1.0,50.0,1500.0,38.710620,-9.149000
...,...,...,...,...,...,...,...,...,...
18520,Studio Apt. with Terrace in Historical Bairro ...,None,None,Portugal,NaN,70.0,2100.0,38.711931,-9.146540
18522,NEW! Charming 2 bed w/patio in historical Mour...,Portugal,Lisbon,Lisbon,2.0,75.0,2250.0,38.716469,-9.132524
18523,New Avenues Dreamy Home,None,None,PT,2.0,150.0,4500.0,38.740442,-9.149162
18524,Alfama Top Location 2,None,Portugal,Oeiras,1.0,55.0,1650.0,38.715410,-9.132390
18525,Stunning Apartment in Heart of Lisbon by Lovel...,None,None,PT,2.0,114.0,3420.0,38.709519,-9.136877